<div data-infinite-scroll
     [infiniteScrollDistance]="1"
     [infiniteScrollUpDistance]="2"
     [infiniteScrollThrottle]="150"
     (scrolled)="onScroll()">
  <div class="row control">
    <mat-button-toggle-group
      class="control-item"
      #group="matButtonToggleGroup"
      [(ngModel)]="view">
      <mat-button-toggle
        aria-label="cards"
        matTooltip="Show as cards"
        value="card">
        <img [src]="icons.cards" alt="">
      </mat-button-toggle>
      <mat-button-toggle
        aria-label="list"
        matTooltip="Show as lists"
        value="list">
        <img [src]="icons.lists" alt="">
      </mat-button-toggle>
    </mat-button-toggle-group>
    <mat-checkbox
      class="control-item"
      [(ngModel)]="scroll">Infinite scroll
    </mat-checkbox>
  </div>
  <div class="cards-wrapper">
    <div *ngIf="view === 'card'; then thenBlock else elseBlock"></div>
    <ng-template #thenBlock>
      <app-product-card *ngFor="let prod of shownProducts" [item]="prod"></app-product-card>
    </ng-template>
    <ng-template #elseBlock>
      <mat-list class="list-component">
        <app-product-list *ngFor="let prod of shownProducts" [item]="prod"></app-product-list>
      </mat-list>
    </ng-template>

  </div>
  <div class="cards-wrapper">
    <mat-spinner *ngIf="loading" class="spinner"></mat-spinner>
  </div>
  <div class="cards-wrapper">
    <button mat-raised-button
            *ngIf="!scroll"
            color="primary"
            style="margin: 10px auto"
            (click)="addMore()">
      Load 5 more
    </button>

  </div>
</div>
