.cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.control {
  margin: 10px 0;
}
.control-item {
  margin: auto auto;

}
.list-component {
  width: 100%;
}
.spinner {
  margin: 10px 0;
}
