#dashboard {
  font-family: Helvetica Neue, Helvetica, Arial;
  padding: 0 0 0 320px;
}
.dashboard-wrapper {
  min-height: calc(100vh - 50px);
  height: 100%;
  background-color: rgba(245,245,245,1);
  padding-top: 65px;
}





/*@media (min-width:480px) and (min-device-width:480px) {*/
  /*.node-info {*/
    /*float: left;*/
    /*width: 50%*/
  /*}*/
  /*.buttons-holder {*/
    /*text-align: right;*/
    /*float: right;*/
    /*width: 50%;*/
  /*}*/
/*}*/
/*@media (min-width:576px) and (min-device-width:576px) {*/
  /*.node-info, .buttons-holder {*/
    /*padding-bottom: 0;*/
  /*}*/
  /*.dashboard-address-info > .row {*/
    /*padding: 1em 0 0 50px;*/
    /*margin: 0;*/
  /*}*/
  /*.dashboard-address-info{*/
    /*padding: 0 0 1em;*/
  /*}*/
/*}*/
/*@media (min-width:768px) and (min-device-width:768px) {*/
  /*.dashboard-address-info p {*/
    /*!*font-size: 16px;*!*/
  /*}*/
/*}*/
/*@media (min-width:992px) and (min-device-width:992px) {*/
  /*.dashboard {*/
    /*padding: 0 0 0 320px;*/
  /*}*/
  /*.dashboard.report-page {*/
    /*padding: 0;*/
  /*}*/
/*}*/
/*@media (min-width:1200px) and (min-device-width:1200px) {*/
  /*.dashboard {*/
    /*padding: 0 0 0 400px;*/
  /*}*/
  /*.dashboard.report-page {*/
    /*padding: 0;*/
  /*}*/
/*}*/
