<header class="fixed-top" id="header">
  <nav class="navbar navbar-dark navbar-custom">
    <nav mat-tab-nav-bar>
      <a mat-tab-link
         *ngFor="let link of navLinks"
         matTooltip="{{link.tooltip}}" matTooltipPosition="above"
         [routerLink]="[link.path]"
         routerLinkActive #rla="routerLinkActive"
         [routerLinkActiveOptions]="{exact: true}"
         class="header-nav-links"
         [active]="rla.isActive">
        {{link.text}}
      </a>
    </nav>
  </nav>
</header>

