#header{
  z-index: 950;
  padding: 0 0 0 320px;
}
.navbar-dark .navbar-nav .nav-link {
  color: #000000;
}
.navbar-custom {
  background: #3f51b5;
}
.header-nav-links {
  width: 100px;
  min-width: 100px;
  padding: 12px;
  font-size: 1.1em;
  color: #ffffff;
}
