  <mat-card  class="card" >
    <mat-card-header>
      <mat-card-title>{{item.data.systemtitle}} / {{item.data.systemnumber}}</mat-card-title>
    </mat-card-header>
    <img class="card-img"
         [defaultImage]="images[0]"
         [lazyLoad]="images[1]"
         [offset]="100"
         (click)="openDialog()">
    <mat-card-content>
      <div class="desc">
        <p>
          <span>Fire resistance: {{item.data.fireresistance || 'Not available'}}</span>
        </p>
        <p>
          <span>Soundproof: {{item.data.soundproof_filter || 'Not available'}}</span>
        </p>
        <p>
          <span>Wallthickness: {{item.data.wallthickness || 'Not available'}}</span>
        </p>
        <p>
          <span>Dampingstrength: {{item.data.dampingstrength || 'Not available'}}</span>
        </p>
        <p>
          <span>DocType: {{item.docType || 'Not available'}}</span>
        </p>
        <mat-slide-toggle
          [(ngModel)]="check"
          (change)="action()">
          Add to wathlist
        </mat-slide-toggle>

      </div>
    </mat-card-content>
  </mat-card>
