<div class="dialog">
  <div class="row header">
    <div class="header">{{data.name}}</div>
  </div>
  <div class="row main-img">
    <img class="large-img"
         [defaultImage]="currentImg[0]"
         [lazyLoad]="currentImg[1]"
         [offset]="100">
  </div>
  <div class="row flex-wrap">
    <img class="small-img"
         *ngFor="let image of allImages"
         [src]="image[1]"
         (click)="showImg(image)">
  </div>
</div>
