.header {
  width: 100%;
  text-align: center;
}
.dialog {
  max-height: 550px;
  max-width: 550px;
}
.row img {
  display: block;
  margin: 10px auto;
}
.large-img {
  width: 380px;
  height: 380px;
}
.row .small-img {
  margin: 0 10px;
  width: 100px;
  height: 100px;
}
.flex-wrap {
  display: flex;
}
