<h3 mat-subheader>{{item.data.systemtitle}} / {{item.data.systemnumber}}</h3>
<mat-list-item>
  <div class="flex-wrap">
    <div class="flex-item">
      <span mat-line>Fire resistance:</span>
      <span mat-line>{{item.data.fireresistance || 'Not available'}}</span>
    </div>
    <div class="flex-item">
      <span mat-line>Soundproof:</span>
      <span mat-line>{{item.data.soundproof_filter || 'Not available'}}</span>
    </div>
    <div class="flex-item">
      <span mat-line>Wallthickness:</span>
      <span mat-line>{{item.data.wallthickness || 'Not available'}}</span>
    </div>
    <div class="flex-item">
      <span mat-line>Dampingstrength:</span>
      <span mat-line>{{item.data.dampingstrength || 'Not available'}}</span>
    </div>
    <div class="flex-item">
      <span mat-line>docType:</span>
      <span mat-line>{{item.docType || 'Not available'}}</span>
    </div>
  </div>

</mat-list-item>
<mat-divider></mat-divider>
