h2{
  margin: 0;
}
.sidebar-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%; /* Height has to be specified anyway */
  width: 320px;

  z-index: 990;
  border-right: 1px solid #000000;
  background-color: rgba(245,245,245,1);
}
.sidebar-header {
  height: auto;
  width: 100%;
}
.sidebar-header h2 {
  font-size: 20px;
  height: 75px;
  line-height: 75px;
  text-transform: uppercase;
  color: #3f51b5;
  background: #d8dcf0;
  text-align: center;
  width: 100%;
}
.sidebar-container {
  padding: 1em 1.2em;
  height: calc(100% - 75px);
  overflow-y: auto;
}
.slider-wrapper {
  /*margin-bottom: 60px;*/
  margin-top: 20px;
}
.slider {
  width: 100%;
}
.checkbox {
  margin: 0 10px;
}

