<aside id="sideNav" class="sidebar-wrapper">
  <div class="sidebar-header">

    <h2>Filters</h2>
  </div>

  <div class="sidebar-container">
    <form >
      <mat-form-field >
        <input
          type="text"
          placeholder="Search by name"
          aria-label="Number"
          [(ngModel)]="filters.name"
          (keyup.enter)="applyFilters()"
          matInput
          [formControl]="myControl"
          [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete">
          <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
            {{ option }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </form>

    <div>
      <label>Fire resistance</label>
      <br>
      <mat-checkbox
        class="checkbox"
        *ngFor="let filter of filters.fireresistance"
        [(ngModel)]="filter.value">{{filter.name}}</mat-checkbox>

    </div>

    <p >
      <label for="soundproof">Soundproof  {{filters.soundproof_filter.value}}</label>
      <br>
      <mat-slide-toggle
        [(ngModel)]="filters.soundproof_filter.all">
        Select all
      </mat-slide-toggle>

      <mat-slider
        class="slider"
        id="soundproof"
        [disabled]="filters.soundproof_filter.all"
        [max]="70"
        [min]="35"
        [step]="5"
        [thumb-label]="true"
        [(ngModel)]="filters.soundproof_filter.value">
      </mat-slider>
    </p>
    <p >
      <label for="wallthickness">Wallthickness {{filters.wallthickness.value}}</label>
      <br>
      <mat-slide-toggle
        [(ngModel)]="filters.wallthickness.all">
        Select all
      </mat-slide-toggle>
      <mat-slider
        class="slider"
        id="wallthickness"
        [disabled]="filters.wallthickness.all"
        [max]="500"
        [min]="1"
        [step]="1"
        [thumb-label]="true"
        [(ngModel)]="filters.wallthickness.value">
      </mat-slider>
    </p>
    <p >
      <label for="dampingstrength">Dampingstrength {{filters.dampingstrength.value}}</label>
      <br>
      <mat-slide-toggle
        [(ngModel)]="filters.dampingstrength.all">
        Select all
      </mat-slide-toggle>
      <mat-slider
        class="slider"
        id="dampingstrength"
        [disabled]="filters.dampingstrength.all"
        [max]="dampingstrengthRange.finish"
        [min]="dampingstrengthRange.start"
        [step]="1"
        [thumb-label]="true"
        [(ngModel)]="filters.dampingstrength.value">
      </mat-slider>
    </p>
    <div >
        <label for="docType">DocType {{filters.docType}}</label>
      <p>
        <mat-radio-group id="docType" [(ngModel)]="filters.docType">
          <mat-radio-button value="Datasheets">Datasheets</mat-radio-button>
          <mat-radio-button value="Pricelists">Pricelists</mat-radio-button>
        </mat-radio-group>
      </p>
      <button mat-raised-button color="primary"
              style="margin-top: 10px"
              (click)="applyFilters()" >
        Apply
      </button>
      <button mat-raised-button color="primary"
              style="margin-top: 10px"
              (click)="resetFilters()" >
        Reset
      </button>
    </div>
  </div>
</aside>
